# python
__pycache__/

# log
*.log

# design stuff
.design/
*.aseprite

# environment
.venv/

# docs
# tech.*

# pyIinstaller x build
dist/
build/
*.spec

# multimedia x temp
asset/other/temp_credits_audio.mp3

# linter
# .markdownlint.*